<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvcomunity">
	
	<select id="comunitycount" parameterType="cpDto" resultType="int">
		select count(*) from comunity 
		<choose>
			<when test="category == '전체'">
			
			</when>
			<when test="category == '자유'">
				group by category
				having category = '자유'
			</when>
			<otherwise>
				group by category
				having category = 'Q&amp;A'
			</otherwise>
		</choose>
	</select>
<!-- 	<select id="comunitycount" resultType="comunityDto">
		select * from comunity
		<choose>
			<when test="category == '전체'">
				order by regdate desc
			</when>
			<when test="category == '자유'">
				where category = '자유' order by regdate desc
			</when>
			<otherwise>
				where category = 'Q&amp;A' order by regdate desc
			</otherwise>
		</choose>
	</select> -->
	
	<select id="comunityall" parameterType="cpDto" resultType="comunityDto">
		select rnum, cm.*
 		<choose>
			<when test="category == '전체'">
				from (
					select row_number() over (order by regdate desc ) rnum, c.*
					from comunity c
					) cm
				where rnum between (#{currentPage}*#{dataPerPage})-(#{dataPerPage}-1) and (#{currentPage}*#{dataPerPage}) 
			</when>
			<when test="category == '자유'">
				from (
					select row_number() over (order by regdate desc ) rnum, c.*
					from comunity c where category = '자유'
					) cm
				where rnum between (#{currentPage}*#{dataPerPage})-(#{dataPerPage}-1) and (#{currentPage}*#{dataPerPage}) 
				
			</when>
			<otherwise>
				from (
					select row_number() over (order by regdate desc ) rnum, c.*
					from comunity c where category = 'Q&amp;A'
					) cm
				where rnum between (#{currentPage}*#{dataPerPage})-(#{dataPerPage}-1) and (#{currentPage}*#{dataPerPage}) 
				
			</otherwise>
		</choose>
	</select>
	
	<select id="comunityone" parameterType="int" resultType="comunityDto">
		select cno, category, title, content, regdate, m.memberid
		from comunity c join member m
		where m.memberno = c.memberno
		and cno = #{cno}

	</select>
	
	<insert id="cominsert" parameterType="comunityDto">
		insert into comunity
		values(comunityseq.nextval, #{category}, #{title}, #{content}, sysdate, #{memberno})
	
	</insert>
	
	<update id="comupdate" parameterType="comunityDto">
		update comunity set (#{category}, #{title}, #{content})
		where cno = #{cno}
	</update>
	
	<delete id="comdelete" parameterType="int">
		delete from comunity where cno = #{cno}
	</delete>
	
	
	<!-- comment start /////////////////////////////////////////// -->
	<select id="comcmtselect" parameterType="comcommentDto">
		select comcmtno, groupno, grpno, comcomment, regdate, cno, m.memberid
		from comcomment c join member m	on c.cno = m.cno 
		where cno = #{cno} and groupno = #{groupno}
		order by grpno
	</select>
	
	<insert id="comcmtinsert" parameterType="comcommentDto">
		insert into comcomment
		values(comcmtseq.nextval, comcmtgroupseq.nextval, 1, #{comcomment},sysdate, #{cno}, #{memberno})
	</insert>
	
	<update id="comcmtupdate" parameterType="comcommentDto">
		update comcomment 
				set(comcomment = #{comcomment}, regdate = sysdate)
				where comcmtno = #{comcmtno}
	</update>
	
	<delete id="comcmtdelete" parameterType="int">
		delete from comcomment where comcmtno = #{comcmtno}
	</delete>
	
	<insert id="comcmtanswer" parameterType="comcommentDto">
		insert into comcomment
		values(comcmtseq.nextval, 
		(select comcmtgroupno from comcomment where comcmtno = #{comcmtno}),
		(select comcmtgrpno from comcomment where comcmtno = #{comcmtno})+1,
		 #{comcomment},sysdate, #{cno}, #{memberno})
	</insert>
	
	<update id="comcmtbeforeanswer" parameterType="comcommentDto">
	<!-- update시 dto필요내용 - comcmtn,grpno,comcomment -->
		update comcomment 
		set(comcmtgrpno = #{comcmtgrpno}+1 )
		where comcmtgroupno = (select comcmtgroupno from comcomment where comcmtno = #{comcmtno})
		and comcmtgrpno > (select comcmtgrpno from comcomment where comcmtno = #{comcmtno})
		<!-- 대소비교문법 <![CDATA[<=]]> -->
	</update>
	
	
	
	
	
	
	
	
</mapper>