<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvcomunity">
	
	<select id="comunityAll" parameterType="comunityDto" resultType="comunityDto">
		select *
		from comunity
		<choose>
			<when test="category == '전체'">
				where category = '전체'
			</when>
			<when test="category == '자유게시판'">
				where category = '자유게시판'
			</when>
			<otherwise>
				where category = 'Q&amp;A'
			</otherwise>
		</choose>;
	</select>
	
	<select id="comunityOne1" parameterType="int" resultType="comunityDto">
		select category, title, content, regdate, m.memberid
		from comunity c join member m
		where m.memberno = c.memberno
		and cno = #{cno}

	</select>
	
	
</mapper>