<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contest">
	<resultMap type="ContestDto" id="ContestMap">
		<result property="contestnum" column="CONTESTNUM" />
		<result property="contestname" column="CONTESTNAME" />
		<result property="contestagent" column="CONTESTAGENT" />
		<result property="contestsupervision" column="CONTESTSUPERVISION" />
		<result property="contesupport" column="CONTESUPPORT" />
		<result property="contestfield" column="CONTESTFIELD" />
		<result property="contesttarget" column="CONTESTTARGET" />
		<result property="contestcompany" column="CONTESTCOMPANY" />
		<result property="contestreward" column="CONTESTREWARD" />
		<result property="conteststart" column="CONTESTSTART" />
		<result property="contestend" column="CONTESTEND" />
		<result property="contestcontent" column="CONTESTCONTENT" />
		<result property="contestposter" column="CONTESTPOSTER" />
		<result property="contestsvaefilename" column="CONTESTSVAEFILENAME" />
		<result property="contestorifilename" column="CONTESTORIFILENAME" />
		<result property="contestpage" column="CONTESTPAGE" />
		<result property="contestperson" column="CONTESTPERSON" />
		<result property="contestphone" column="CONTESTPHONE" />
		<result property="contestemail" column="CONTESTEMAIL" />
		<result property="memberno" column="MEMBERNO" />
	</resultMap>
	
	<insert id="insert" parameterType="ContestDto">
		INSERT INTO CONTEST
		VALUES(CONTESTSEQ.NEXTVAL, #{contestname}, #{contestagent}, #{contestsupervision}, #{contesupport}, #{contestfield}, #{contesttarget}, #{contestcompany}, #{contestreward}, #{conteststart}, #{contestend}, #{contestcontent}, #{contestposter}, #{contestsvaefilename}, #{contestorifilename}, #{contestpage}, #{contestperson}, #{contestphone}, #{contestemail}, #{memberno})
	</insert>
	
	<select id="selectOne" parameterType="int" resultType="ContestDto">
		SELECT CONTESTNUM, CONTESTNAME, CONTESTAGENT, CONTESTSUPERVISION, CONTESUPPORT, CONTESTFIELD, CONTESTTARGET, CONTESTCOMPANY, CONTESTREWARD, CONTESTSTART, CONTESTEND, CONTESTCONTENT, CONTESTPOSTER, CONTESTSVAEFILENAME, CONTESTORIFILENAME, CONTESTPAGE, CONTESTPERSON, CONTESTPHONE, CONTESTEMAIL, MEMBERNO
		FROM CONTEST
		WHERE CONTESTNUM = #{contestnum}
	</select>	
	
	<select id="countcontest" resultType="int">
		SELECT COUNT(*) FROM CONTEST
	</select>
	
	<select id="countfield" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CONTEST WHERE CONTESTFIELD LIKE '%'||${value}||'%'
	</select>
	
	<select id="counttarget" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CONTEST WHERE CONTESTTARGET LIKE '%'||${value}||'%'
	</select>
	
	<select id="countcompany" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CONTEST WHERE CONTESTCOMPANY LIKE '%'||${value}||'%'
	</select>
	
	<select id="countreward" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CONTEST WHERE CONTESTREWARD LIKE '%'||${value}||'%'
	</select>
	
	<select id="selectcontest" resultType="ContestDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM CONTEST
							ORDER BY CONTESTNUM DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="fieldList" resultType="ContestDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM CONTEST 
							WHERE CONTESTFIELD LIKE '%'||${category}||'%' 
							ORDER BY CONTESTNUM DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="targetList" parameterType="String" resultMap="ContestMap" >
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM CONTEST 
							WHERE CONTESTTARGET LIKE '%'||${category}||'%' 
							ORDER BY CONTESTNUM DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="companyList" parameterType="String" resultMap="ContestMap" >
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM CONTEST 
							WHERE CONTESTCOMPANY LIKE '%'||${category}||'%' 
							ORDER BY CONTESTNUM DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="rewardList" parameterType="String" resultMap="ContestMap" >
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM CONTEST 
							WHERE CONTESTREWARD LIKE '%'||${category}||'%' 
							ORDER BY CONTESTNUM DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="homeclist" resultMap="ContestMap">
		SELECT * FROM CONTEST WHERE ROWNUM &lt;=12
		ORDER BY CONTESTNUM DESC
	</select>
	
	<delete id="contestdelete" parameterType="int">
		DELETE FROM CONTEST WHERE CONTESTNUM = #{contestnum}
	</delete>
	
	<update id="updatecontest" parameterType="ContestDto">
		UPDATE CONTEST
		SET CONTESTNAME = #{contestname}, CONTESTAGENT =  #{contestagent}, CONTESTSUPERVISION = #{contestsupervision}, CONTESUPPORT =  #{contesupport}, CONTESTFIELD = #{contestfield}, CONTESTTARGET = #{contesttarget}, CONTESTCOMPANY = #{contestcompany}, CONTESTREWARD = #{contestreward}, CONTESTSTART = #{conteststart}, CONTESTEND = #{contestend}, CONTESTCONTENT = #{contestcontent}, CONTESTPOSTER = #{contestposter}, CONTESTSVAEFILENAME = #{contestsvaefilename}, CONTESTORIFILENAME = #{contestorifilename}, CONTESTPAGE = #{contestpage}, CONTESTPERSON = #{contestperson}, CONTESTPHONE = #{contestphone}, CONTESTEMAIL = #{contestemail}
		WHERE CONTESTNUM = #{contestnum}
	</update>
	
</mapper>