<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvmember">
    	<!-- 회원가입 -->
   <insert id="register" parameterType="memberDto">
        INSERT INTO MYMEMBER VALUES(MEMBERSEQ.NEXTVAL, #{member_id}, #{member_pw}, #{member_email}, #{member_grade}, SYSDATE, #{member_photo} )
   </insert>	 

	<!-- 로그인 -->
	<select id="login" parameterType="memberDto" resultType="memberDto">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_EMAIL
        FROM MYMEMBER
		WHERE MEMBER_ID = #{member_id} 
	    AND MEMBER_PW = #{member_pw} 
	</select>
	
	<!-- 회원정보 수정 -->
    <update id="memberUpdate">
      UPDATE MYMEMBER SET
      MEMBER_PW = #{member_pw},
      MEMBER_EMAIL = #{member_email}
      <if test="member_photo != null">
      	, MEMBER_PHOTO = #{member_photo}
      </if>
      WHERE MEMBER_ID = #{member_id}
    </update>  
	
	<!-- 회원탈퇴 --> 
	<delete id="memberDelete">
	        DELETE FROM MYMEMBER
	        WHERE MEMBER_ID = #{member_id}
	          AND MEMBER_PW = #{member_pw}
	</delete>
	<!-- 탈퇴비번체크 --><!-- 아이디 비번 조건걸고 조건맞는 갯수 카운트 -->
	<select id="passChk" resultType="int">
	        SELECT COUNT(*) FROM MYMEMBER
	        WHERE MEMBER_ID = #{member_id}
	          AND MEMBER_PW = #{member_pw}   
	</select>      
	
	<select id="findid" parameterType="String" resultType="String">
		SELECT MEMBER_ID
		FROM MYMEMBER
		WHERE MEMBER_EMAIL = #{value}
	</select>
	
	<select id="findpw" parameterType="memberDto" resultType="String">
		SELECT MEMBER_PW
		FROM MYMEMBER
		WHERE MEMBER_EMAIL = #{member_email}
		AND MEMBER_ID = #{member_id}
	</select>
</mapper>