<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvout">
	
	<select id="outAll" parameterType="outsourcingDto" resultType="outsourcingDto">
		select *
		from outsourcing

	</select>
	
	<select id="outsourcingOne1" parameterType="int" resultType="outsourcingDto">
		select category, title, content, regdate, m.memberid
		from comunity c join member m
		where m.memberno = c.memberno
		and cno = #{cno}

	</select>
	
	
</mapper>