<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvout">
	
 	<select id="outall" parameterType="outsourcingDto" resultType="outsourcingDto">
		select *
		from outsourcing
	</select>
	
	<select id="outone" parameterType="int" resultType="outsourcingDto">
		select outno, title, content, conclusion, regdate, teamno, m.memberid
		from outsourcing o join member m
		where o.memberno = m.memberno
		and outno = #{outno}
	</select>
	
	<insert id="outinsert" parameterType="outsourcingDto">
		insert into outsourcing 
		values(outnoseq.nextval, '의뢰', #{title}, #{content}, #{teamno}, sysdate);
	</insert>
	
	<update id="outupdate" parameterType="outsourcingDto">
		update outsourcing
		set (title = #{title}, content = #{content}) where outno = #{outno}
	</update>
	
	<delete id="outdelete" parameterType="int">
		delete from outsourcing where outno = #{outno}
	</delete>
	
	
	
	<!-- ex start -->
	
	<select id="outexall" parameterType="int" resultType="outexDto">
		select outexno, applied, outexcomment, e.outno, o.title, memberno, m.memberid
		from outex e join member m   ON e.memberno = m.memberno
		join outsourcing o   ON e.outno = o.outno
		where memberno = #{memberno}  and applied != 'CP'
		order by applied desc, sysdate desc
	</select>
	
	<select id="outexone" parameterType="int" resultType="outexDto">
		select outexno, applied, outexcomment, outno, memberno, m.memberid
		from outex e join member m   ON e.memberno = m.memberno
		where outexno = #{outexno}
	</select>
	
	<insert id="outexinsert" parameterType="outexDto">
		insert into outex
		values(outexnoseq.nextval, 'false', #{outexcomment}, #{outno}, #{memberno} )
	</insert>
	
<!-- 	<update id="outexupdate" parameterType="outexDto">
		update outex
		set (outexcomment = #{outexcomment})
	</update> -->
	
	<delete id="outexdelete" parameterType="int">
		delete from outex where outexno = #{outexno}
	</delete>
	
	
	
	
	<!-- est start -->
	
 	<resultMap type="outsourcingDto" id="estselmap">
		<result property="outno" column="outestno"></result>
		<result property="outestContent" column="outestcontent"></result>
		<result property="outestFile" column="outestfile"></result>
	</resultMap>
	
	<select id="estselect" parameterType="int" resultMap="estselmap">
		select *
		from outest
		where outestno = #{outestno}
	</select>
	
	<insert id="estinsert" parameterType="outsourcingDto">
		insert into outest
		values(#{outno}, #{outestContent}, #{outestFile})
	</insert>
	
	<update id="estupdate" parameterType="outsourcingDto">
		update outest
		set (outestcontent = #{outestContent}, outestfile = #{outestFile})
		where outestno = #{outno}
	</update>
	
	
	
	
	
</mapper>