<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="place">
	<resultMap type="placeDto" id="placeMap">
		<result property="pno" column="PNO" />
		<result property="lng" column="LNG" />
		<result property="lat" column="LAT" />
		<result property="ptitle" column="PTITLE" />
		<result property="pcontent" column="PCONTENT" />
		<result property="soket" column="SOKET" />
		<result property="com" column="COM" />
		<result property="people" column="PEOPLE" />
		<result property="plike" column="PLIKE" />
		<result property="memberno" column="MEMBERNO" />
	</resultMap>
	
	<insert id="insert" parameterType="placeDto">
		INSERT INTO PLACE
		VALUES(PLACESEQ.NEXTVAL, #{lng}, #{lat}, #{ptitle}, #{pcontent}, #{soket}, #{com}, #{people}, #{plike}, #{memberno})
	</insert>
	
	<select id="selectList" resultMap="placeMap" >
		SELECT PNO, LNG, LAT, PTITLE, PCONTENT, SOKET, COM, PEOPLE, PLIKE, MEMBERNO 
		FROM PLACE
		ORDER BY PLIKE DESC
	</select>
	
	<select id="detail" parameterType="int" resultType="placeDto">
		SELECT PNO, LNG, LAT, PTITLE, PCONTENT, SOKET, COM, PEOPLE, PLIKE, MEMBERNO 
		FROM PLACE
		WHERE PNO = #{pno}
	</select>
	
	<update id="likeup" parameterType="int">
		UPDATE PLACE SET PLIKE = PLIKE + 1 WHERE PNO = #{pno}
	</update>
	
	<update id="likedown" parameterType="int">
		UPDATE PLACE SET PLIKE = PLIKE - 1 WHERE PNO = #{pno}
	</update>
</mapper>