<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvteam">
	
	<select id="memberSteam" parameterType="int" resultType="com.wv.root.model.dto.TeamDto$TeamMemberDto">
		select * 
		from teammember tm join team t  ON tm.team_no = t.team_no
		join mymember m  ON m.member_no = tm.member_no
		where m.member_no = #{member_no}
	</select>
	
	<insert id="createTeam" parameterType="com.wv.root.model.dto.TeamDto$TeamMemberDto">
		insert all
		into team values(teamseq.nextval, #{team_name}, #{team_intro})
		into teammember values(teammemberseq.nextval, #{member_no}, teamseq.currval, '팀장')
		select * from dual
	</insert>
	
	
	
	
	
	
	
	
	

	
	
	
</mapper>