<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wvteam">
	
	<select id="memberSteam" parameterType="int" resultType="com.wv.root.model.dto.TeamDto.TeamMemberDto">
		select * 
		from teammember tm join team t  ON tm.team_no = t.team_no
		join mymember m  ON m.member_no = tm.member_no
		where m.member_no = #{member_no}
	</select>
	
	
	
	
	
	
	
	
	
	
	

	
	
	
</mapper>