.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:70%;height:500px; float:left; border: 1px solid #c0bfbf; border-radius: 3px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:270px;margin:10px 0 30px 10px;padding:5px;overflow-x:auto; overflow-y:auto;background:rgba(255, 255, 255, 0.8);z-index: 1;font-size:12px;border-radius: 10px; border: 1px solid #c0bfbf;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 1px solid #c0bfbf;margin:5px 0;}
#menu_wrap .option{text-align: center; color: #1f1f1f}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:10px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #c0bfbf;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url('../images/marker_number.png') no-repeat;}
#placesList .item .marker_1 {background-position: 0 -9px;}
#placesList .item .marker_2 {background-position: 0 -55px;}
#placesList .item .marker_3 {background-position: 0 -101px}
#placesList .item .marker_4 {background-position: 0 -147px;}
#placesList .item .marker_5 {background-position: 0 -193px;}
#placesList .item .marker_6 {background-position: 0 -239px;}
#placesList .item .marker_7 {background-position: 0 -285px;}
#placesList .item .marker_8 {background-position: 0 -331px;}
#placesList .item .marker_9 {background-position: 0 -377px;}
#placesList .item .marker_10 {background-position: 0 -422px;}
#placesList .item .marker_11 {background-position: 0 -469px;}
#placesList .item .marker_12 {background-position: 0 -515px;}
#placesList .item .marker_13 {background-position: 0 -561px;}
#placesList .item .marker_14 {background-position: 0 -607px;}
#placesList .item .marker_15 {background-position: 0 -653px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
#placeDetail {display:hide;}
#placeListAll {display:hide;}
.customoverlay {position:relative;bottom:80px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #ff7043 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

.placetitle{cursor:pointer}
.customoverlay .pmcs {display:block;text-decoration:none;text-align:center;padding:10px 15px;padding-bottom:4px; border-radius:6px; background: #fff;font-weight:bold;}
.pmcs span{text-align:center;background:#fff;padding-right:10px; font-size:14px;font-weight:bold;}
.boxspan{padding: 10px 10px 0px 10px}
.modal-body {max-height: calc(100vh - 230px);overflow-y: auto; }
.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}
.input-box2{
    width: 100%;
    margin-right: 12px;
    position: relative;
    display: contents;
}
.ptx{
	padding: 14px 10px 14px 10px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
    font-size: 11pt;
}

.radio{
    display: none;
}
.input-box label{
    width: 33%;
    padding: 9px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}
.input-box2 label{
    width: 8%;
    padding: 9px;
    text-align: center;
    border: 1px solid #c0bfbf;
}
.input-box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.input-box2 label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
#lmid{
	border-right: none;
}
.input-box label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.input-box2 label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked + label{
    background-color: #d65106;
    color: #fff;
    transition: 0.5s;
}
.input-box select{
    display: inline-block;
    width: 33%;
    padding: 9px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    color: #666666;
    background-color: #fff;
    border: 1px solid #c0bfbf;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d65106;
    border-color: #d65106; 
}